/Test.Folder/Modified/Asset_Tracker1.kicad_sch
/Test.Folder/Modified/BGA.kicad_dru
/Test.Folder/Modified/Bitwised_A3.kicad_wks
/Test.Folder/Modified/Bitwised_A4.kicad_wks
/Test.Folder/Modified/DASADSTL.kicad_pcb
/Test.Folder/Modified/DASADSTL.kicad_pro
/Test.Folder/Modified/DASADSTL.kicad_sch
/Test.Folder/Modified/DASADSTL.kicad_sym
/Test.Folder/Modified/Ethernet.kicad_sch
/Test.Folder/Modified/fp-lib-table
/Test.Folder/Modified/sym-lib-table
/Test.Folder/DASADSTL.pretty/Modified/2199230-4.kicad_mod
/Test.Folder/DASADSTL.pretty/Modified/693043020611.kicad_mod
/Test.Folder/DASADSTL.pretty/Modified/693072010801.kicad_mod
/Test.Folder/Modified/DASADSTL.kicad_prl
/Test.Folder/DASADSTL.pretty/Modified/Board3.kicad_mod
/Test.Folder/Modified/DASADSTL.kicad_mod
/Test.Folder/Modified/Default.kicad_mod
/Test.Folder/DASADSTL.pretty/Modified/DM3ATSFPEJM5.kicad_mod
/Test.Folder/fp-info-cache
/Test.Folder/DASADSTL.pretty/Modified/Test.kicad_mod
/Test.Folder/DASADSTL.pretty/Test.kicad_mod
