/Test.Folder/Modified/Asset_Tracker1.kicad_sch
/Test.Folder/Modified/BGA.kicad_dru
/Test.Folder/Modified/Bitwised_A3.kicad_wks
/Test.Folder/Modified/Bitwised_A4.kicad_wks
/Test.Folder/Modified/DASADSTL.kicad_pcb
/Test.Folder/Modified/DASADSTL.kicad_pro
/Test.Folder/Modified/DASADSTL.kicad_sch
/Test.Folder/Modified/DASADSTL.kicad_sym
/Test.Folder/Modified/Ethernet.kicad_sch
/Test.Folder/Modified/fp-lib-table
/Test.Folder/Modified/sym-lib-table
